<template>
  <div class="columns is-centered is-primary">
    <div class="column is-half has-background-primary">
      <b-field label="Nom et prénom (ou surnom)">
        <b-input v-model="name" icon-pack="fas" icon="user"></b-input>
      </b-field>
      <div class="buttons">
        <b-button
          type="is-link"
          icon-pack="fas"
          icon-right="plus"
          @click="onSubmit"
          >Ajouter</b-button
        >
        <b-button
          class="is-flex is-align-self-flex-end"
          type="is-info"
          icon-pack="fas"
          icon-right="history"
          @click="restoreUsers"
          >Restaurer la dernière liste</b-button
        >
        <b-button
          type="is-info"
          @click="showSSHistory"
          icon-pack="fas"
          icon-right="gift"
        >
          Voir les 5 derniers tirages
        </b-button>
        <b-button
          type="is-success"
          @click="showSecretSanta"
          icon-pack="fas"
          icon-right="gift"
        >
          Trouvez vos Secret santas!
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddUsersForm",
  data() {
    return {
      name: null,
      blackList: [],
    };
  },
  methods: {
    onSubmit() {
      if (this.name) {
        const user = {
          name: this.name,
          blackList: this.blackList,
        };
        this.$emit("added-user", user);
        this.name = null;
      }
    },
    restoreUsers() {
      this.$emit("restore-users");
    },
    showSecretSanta() {
      this.$emit("show-secret-santa");
    },
    showSSHistory() {
      this.$emit("show-secret-santa-history");
    },
  },
};
</script>
