<template>
  <nav class="navbar has-background-primary">
    <div
      class="container is-flex is-justify-content-center is-align-content-center"
    >
      <img :src="headerImage" width="150" height="150" />
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      headerImage: require("../assets/garland.png"),
    };
  },
};
</script>
