<template>
  <div>
    <span class="is-size-1 has-text-white">Historique des tirages </span>
    <div class="tile is-ancestor has-background-primary p-6">
      <div class="tile is-parent">
        <article
          class="tile is-child box m-6"
          v-for="(his, index) in history"
          :key="index"
        >
          <div
            class="is-flex is-justify-content-center"
            v-for="(user, indexU) in his"
            :key="indexU"
          >
            <span> {{ user.from }}</span>
            <img :src="giftImage" width="50" height="50" />
            <span>{{ user.to }}</span>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SantaHistory",
  data() {
    return {
      giftImage: require("../assets/cadeau.png"),
    };
  },
  props: {
    history: {
      type: Array,
      required: true,
    },
  },
};
</script>
