<template>
  <div class="container has-background-primary p-6">
    <span class="is-size-1 has-text-white">Joyeuses fêtes !</span>
    <b-field v-for="(user, index) in users" :key="index">
      <b-tag
        class="is-flex is-justify-content-space-around"
        size="is-large"
        type="is-link"
      >
        <span> {{ user.from }}</span>
        <img :src="giftImage" width="50" height="50" />
        <span>{{ user.to }}</span>
      </b-tag>
    </b-field>
  </div>
</template>

<script>
export default {
  name: "SecretSantas",
  props: {
    users: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      giftImage: require("../assets/cadeau.png"),
    };
  },
};
</script>
