<template>
  <section>
    <b-taglist attached>
      <b-tag size="is-large" type="is-primary">Nom</b-tag>
      <b-tag size="is-large" type="is-dark">Liste noire</b-tag>
    </b-taglist>
    <b-field v-for="(user, index) in users" :key="index">
      <b-tag
        size="is-large"
        type="is-primary"
        closable
        aria-close-label="Close tag"
        @close="onDelete(user.id)"
      >
        {{ user.name }}
      </b-tag>
      <b-taglist attached>
        <b-tag
          v-for="(userBlackListed, indexBL) in user.blackList"
          size="is-large"
          type="is-dark"
          :key="indexBL"
          closable
          aria-close-label="Close tag"
          @close="
            onDeleteBL({
              user: user,
              indexBl: indexBL,
            })
          "
          >{{ userBlackListed }}</b-tag
        >
      </b-taglist>
      <b-dropdown
        :triggers="['hover']"
        v-model="nameBlackList[index]"
        aria-role="list"
      >
        <template #trigger>
          <b-button icon-right="angle-down">
            {{
              nameBlackList[index] == null
                ? "Ajouter à la liste noire"
                : nameBlackList[index]
            }}
          </b-button>
        </template>

        <b-dropdown-item
          v-for="(userName, indexU) in usersNames"
          :key="indexU"
          aria-role="listitem"
          @click="setItem(userName, index)"
          >{{ userName }}</b-dropdown-item
        >
      </b-dropdown>
      <b-button
        type="is-link"
        size="is-small"
        icon-pack="fas"
        icon-right="plus"
        @click="
          onAddBL({ user: user, nameBl: nameBlackList[index], index: index })
        "
      />
    </b-field>
  </section>
</template>

<script>
import Vue from "vue";
import Buefy from "buefy";
import "buefy/dist/buefy.css";

import { library } from "@fortawesome/fontawesome-svg-core";
// internal icons
import { fas } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(fas);
Vue.component("vue-fontawesome", FontAwesomeIcon);

Vue.use(Buefy, {
  defaultIconComponent: "vue-fontawesome",
  defaultIconPack: "fas",
  customIconPacks: {
    fas: {
      sizes: {
        default: "lg",
        "is-small": "1x",
        "is-medium": "2x",
        "is-large": "3x",
      },
      iconPrefix: "",
    },
  },
});

export default {
  name: "UserList",
  data() {
    return {
      selected: null,
      nameBlackList: [],
    };
  },
  props: {
    users: {
      type: Array,
      required: true,
    },
    usersNames: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onDelete(userId) {
      this.$emit("delete-user", userId);
    },
    onDeleteBL({ user, indexBl }) {
      const data = {
        ...user,
        blackList: user.blackList.filter(
          (item) => item !== user.blackList[indexBl]
        ),
      };
      this.$emit("delete-user-black-list", data);
    },
    onAddBL({ user, nameBl, index }) {
      if (this.nameBlackList) {
        const data = {
          ...user,
          blackList: [...user.blackList, nameBl],
        };
        this.$emit("add-user-black-list", data);
        this.nameBlackList[index] = null;
      }
    },
    setItem(userName, index) {
      this.nameBlackList[index] = userName;
    },
  },
};
</script>
