@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");

// Graphical identity
$red: #cc231e;
$red-light: #f5424d;
$green: #0f8a5f;
$green-light: #34a65f;
$blue: #235e6f;

// Update Bulma's global variables
$family-sans-serif: "Lobster Two", cursive;
$grey-dark: $blue;
$primary: $red;
$primary-light: $red-light;
$link: $green;
$info: $green-light;
$success: $blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "~bulma";
