<template>
  <div id="app">
    <NavBar />
    <let-it-snow v-bind="snowConf" :show="show"></let-it-snow>
    <AddUsersForm
      @added-user="addUser"
      @restore-users="fetchUsers"
      @show-secret-santa="getSecretSantas"
      @show-secret-santa-history="showHistory"
    />
    <UserList
      :users="users"
      :usersNames="usersNames"
      @delete-user="deleteUser"
      @delete-user-black-list="deleteBL"
      @add-user-black-list="addBL"
    />
    <b-modal
      v-model="isResultModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-label="Result"
      aria-modal
    >
      <template #default="props">
        <secret-santas :users="giftDuos" @close="props.close"></secret-santas>
      </template>
    </b-modal>
    <b-modal
      v-model="isHistoryModalActive"
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-label="History"
      aria-modal
    >
      <template #default="props">
        <santa-history
          :history="secretSantaHistory"
          @close="props.close"
        ></santa-history>
      </template>
    </b-modal>
  </div>
</template>

<script>
import AddUsersForm from "./components/AddUsersForm.vue";
import NavBar from "./components/NavBar.vue";
import UserList from "./components/UserList.vue";
import SecretSantas from "./components/SecretSantas.vue";
import SantaHistory from "./components/SantaHistory.vue";

import LetItSnow from "vue-let-it-snow";

const axios = require("axios");

export default {
  name: "App",
  components: {
    LetItSnow,
    AddUsersForm,
    NavBar,
    UserList,
    SecretSantas,
    SantaHistory,
  },
  data() {
    return {
      isResultModalActive: false,
      isHistoryModalActive: false,
      users: [],
      usersNames: [],
      giftDuos: [],
      givers: [],
      receivers: [],
      secretSantaHistory: [],
      snowConf: {
        windPower: 1,
        speed: 3,
        count: 12,
        size: 10,
        opacity: 1,
        images: [
          "https://raw.githubusercontent.com/bob-chen/let_it_snow/master/demo/snow.png",
        ],
      },
      show: false,
    };
  },
  methods: {
    // Get the users stored in the db
    fetchUsers() {
      axios
        .get("http://localhost:3000/users")
        .then((res) => {
          this.users = res.data;
          this.usersNames = this.users.map((user) => user.name);
          console.log(res.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // Add user "user" to the db
    addUser(user) {
      const id =
        this.users[this.users.length - 1] == undefined
          ? 1
          : this.users[this.users.length - 1].id + 1;
      //var id = this.users[this.users.length - 1].id || 0;
      let data = JSON.stringify({
        id: id,
        name: user.name,
        giftTo: null,
        giftFrom: null,
        blackList: user.blackList,
      });
      axios
        .post("http://localhost:3000/users", data, {
          headers: { "Content-Type": "application/json" },
        })
        .then((res) => {
          console.log(res.data);
        })
        .catch((error) => {
          console.log(error.message);
        });
      this.users.push(user);
    },

    // Delete a user with id:usedId from the db
    deleteUser(userId) {
      axios
        .delete("http://localhost:3000/users/" + userId)
        .then((resp) => {
          console.log(resp.data);
          this.fetchUsers();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    // Add a user to user's blacklist
    addBL(user) {
      axios.put("http://localhost:3000/users/" + user.id, user).then(() => {
        this.fetchUsers();
      });
    },

    // Function to delete a user from user's blacklist
    deleteBL(user) {
      axios.put("http://localhost:3000/users/" + user.id, user).then(() => {
        this.fetchUsers();
      });
    },

    // Show secret santas history
    showHistory() {
      axios.get("http://localhost:3000/secret-santa-history/").then((res) => {
        this.secretSantaHistory = res.data;
        this.isHistoryModalActive = true;
      });
    },

    // update secret santas history
    updateHistory() {
      axios.post(
        "http://localhost:3000/secret-santa-history/",
        this.secretSantaHistory
      );
    },

    // Get the list of available gifters and receivers depending on the 'user' and his blacklist
    getAvailableUsers(user, usersList) {
      this.givers = [];
      this.receivers = [];
      usersList.forEach((us, index) => {
        if (us.name != user.name && !user.blackList.includes(us.name)) {
          if (us.giftTo == null)
            this.givers.push({
              ...us,
              index: index,
            });
          if (us.giftFrom == null)
            this.receivers.push({
              ...us,
              index: index,
            });
        }
      });
    },
    // Get the first non black listed person
    getNonBL(user, usersList) {
      this.givers = [];
      this.receivers = [];

      usersList.every((us, index) => {
        if (us.name != user.name && !user.blackList.includes(us.name)) {
          this.givers.push({
            ...us,
            index: index,
          });
          this.receivers.push({
            ...us,
            index: index,
          });
        }
      });
    },
    // Open secret santa modal
    getSecretSantas() {
      let i = -1;
      this.fetchUsers();
      const updatedUsers = this.users;
      this.giftDuos = [];
      updatedUsers.forEach((user, index) => {
        this.getAvailableUsers(user, updatedUsers);

        // If available givers
        if (user.giftFrom === null) {
          if (this.givers.length !== 0) {
            i = Math.floor(Math.random() * this.givers.length);

            // Update the users giftFrom & giftTo
            updatedUsers[index].giftFrom = this.givers[i].name;
            updatedUsers[this.givers[i].index].giftTo = user.name;

            this.giftDuos.push({
              from: updatedUsers[index].giftFrom,
              to: updatedUsers[this.givers[i].index].giftTo,
            });
            // If everyone is taken, just take the first non-black listed person
          } else {
            this.getNonBL(user, updatedUsers);
            updatedUsers[index].giftFrom = this.givers[0].name;
            updatedUsers[this.givers[0].index].giftTo = user.name;

            this.giftDuos.push({
              from: updatedUsers[index].giftFrom,
              to: updatedUsers[this.givers[0].index].giftTo,
            });
            console.log("No users");
          }
        }
        this.getAvailableUsers(user, updatedUsers);
        // if available giftees and no gift to give yet
        if (user.giftTo == null) {
          if (this.receivers.length != 0) {
            i = Math.floor(Math.random() * this.receivers.length);

            updatedUsers[index].giftTo = this.receivers[i].name;
            updatedUsers[this.receivers[i].index].giftFrom =
              updatedUsers[index].name;
            this.giftDuos.push({
              from: updatedUsers[this.receivers[i].index].giftFrom,
              to: updatedUsers[index].giftTo,
            });
            // If everyone is taken, just take the first non-black listed person
          } else {
            this.getNonBL(user, updatedUsers);
            updatedUsers[index].giftTo = this.receivers[0].name;
            updatedUsers[this.receivers[0].index].giftFrom =
              updatedUsers[index].name;
            this.giftDuos.push({
              from: updatedUsers[this.receivers[0].index].giftFrom,
              to: updatedUsers[index].giftTo,
            });
            console.log("No users2");
          }
        }
      });
      this.isResultModalActive = true;
      if (this.secretSantaHistory.length == 5) this.secretSantaHistory.shift();
      this.secretSantaHistory.push(this.giftDuos);
      this.updateHistory();
    },
  },
  mounted() {
    this.show = true;
  },
};
</script>

<style></style>
